html body {
  margin: auto;
  padding: 0;
  width: 900px;
  background-color: #111112;
  font-family: "Inter", serif;
}

hr {
  color: #181616;
}

/* Top Section */
.hero-container {
  background-color: black;
  height: 13rem;
  width: 100%;
}

.title-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.main-title {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  padding-left: 0.73rem;
}

.my-watchlist-btn {
  margin-right: 5.7rem;
  color: white;
  background: none;
  border: 0px;
  font-size: 1.1rem;
  font-weight: 100;
  cursor: pointer;
}

/* Movie Search Results Section */

.movie-result-container {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  display: flex;
}
/* Movie Search Result Image */
.movie-poster {
  width: 65%;
}

/* Movie Search Result Details */
.movie-detail-container {
  color: white;
}

/* Top Row */
.movie-title {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

.top-row {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.movie-rating {
  font-size: 0.8rem;
  font-weight: 300;
}

/* Middle row */

.middle-row {
  display: flex;
  gap: 20px;
  font-weight: 400;
  font-size: 1rem;
}

.add-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(209, 102, 21);
}

.add-button i {
  font-size: 1.05rem;
}
